<h1>Budgie</h1>

<%= render 'shared/login_message' %>

<%= form_for(:session) do |f|%>
            <%= f.label "email"%>
            <%= f.text_field :email %>
            <%= f.label "password" %>
            <%= f.password_field :password %>
            <br>
            <%= f.submit "sign in", class: "btn-inverse btn-large btn-primary" %>
            <% if signed_in? %>
            <%= link_to "Sign Out", signout_path, method: "delete" %>
            <% end %>
<% end %>
<p>or <a href="users/new">create account</a></p>
<p><a href="#">forgot password?</a></p>