<!-- HOME -->
<% if signed_in? %>


<!-- Transactions -->
<% if @transactions.nil? %>
<h2>NO TRANSACTIONS</h2>
<% else %> 
<div class="recent">
  <h2>Recent Transactions</h2>


<<<<<<< HEAD
<script>
$(document).ready(function(){
$('#select').change(function() {
     $('#viewDay, #viewWeek, #viewMonth, #viewYear, #viewAll').hide();
     $('#view' + $(this).find('option:selected').attr('id')).show();
  });
});
</script>

<p>View transactions by:</p>
<select id="select" class="form-control select select-primary" data-toggle="select">
  <option id="Day" value="Day">Day</option>
  <option id="Week" value="Week">Week</option>
  <option id="Month" value="Month">Month</option>
  <option id="Year" value="Year">Year</option>
  <option id="All" value="All" selected>All</option>
</select>

<div id="viewDay">view by day</div>
<div id="viewWeek">view by week</div>
<div id="viewMonth">view by month</div>
<div id="viewYear">view by year</div>
<div id="viewAll">view all</div>
=======
  <script>
    $(document).ready(function(){
      $('#select').change(function() {
       $('#viewDay, #viewWeek, #viewMonth, #viewYear, #viewAll').hide();
       $('#view' + $(this).find('option:selected').attr('id')).show();
     });
    });
  </script>

  <p>View transactions by:</p>
  <select id="select" class="form-control select select-primary" data-toggle="select">
    <option id="Day" value="Day">Day</option>
    <option id="Week" value="Week">Week</option>
    <option id="Month" value="Month">Month</option>
    <option id="Year" value="Year">Year</option>
    <option id="All" value="All" selected>All</option>
  </select>

  <div id="viewDay">view by day</div>
  <div id="viewWeek">view by week</div>
  <div id="viewMonth">view by month</div>
  <div id="viewYear">view by year</div>
  <div id="viewAll">view all</div>
>>>>>>> master

  <% @transactions.each do |t| %>   
  <table class="zebra">  
    <thead> 
      <tr> 
        <th><%= t.date %></th> 
        <th>$<%= sprintf("%.2f", t.per_day) %> per day</th> 
      </tr> 
    </thead> 
    <tbody> 
      <tr> 
        <td><h2><%= t.category %></h2>
          <% if !t.description.nil? and !t.description.blank? %>
          <%= t.description %>
          <% end %></td> 
          <td>
            <% if t.amount < 0 %>
            <h1 id="minus">-
              <% else %>
              <h1 id="plus">
                <% end %>
                $<%= sprintf("%.2f", t.amount) %></h1>
              </td> 
            </tr> 
          </tbody>
          <div class="btn-group float-left" id="transaction">
            <button type="button" class="btn btn-default btn-lg">
              <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), t, method: :get, confirm: "Are you sure?" %>
            </button>
            <button type="button" class="btn btn-default btn-lg">
              <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_transaction_path(t) %>
            </button>
          </div>     
        </table> 
        <% end %>
        <% @transactions = @transactions.paginate(page: params[:page], per_page: 5) %>
        <%= will_paginate @transactions %>
      </div>   
      
      <% end %>
<<<<<<< HEAD
    </div>   
    <% end %>

    <!-- END RHS -->

    <!-- LOGIN PAGE -->
    <% else %>
    <div class="center-container" id="login">
      <div class="logo"><%= image_tag("logo.png", :alt => "budgie_logo") %></div>
      <%= form_for(:session) do |f|%>
      <%= f.text_field :email, :placeholder => "email" %>
      <%= f.password_field :password, :placeholder => "password" %>
      <%= link_to raw('<button class="btn btn-large btn-primary" role="button">Sign in</button>'), root_path, method: "post" %>
      <% end %>
      <%= link_to "create account", signup_path, method: "get" %>
      <p><a href="#">forgot password?</a></p>
    </div>
<% end %>
=======

      <!-- END RHS -->

      <!--LOGIN PAGE-->

      <% else %>
      <div class="center-container" id="login">
        <div class="logo"><%= image_tag("logo.png", :alt => "budgie_logo") %></div>
        <%= form_for(:session) do |f|%>
        <%= f.text_field :email, :placeholder => "email" %>
        <%= f.password_field :password, :placeholder => "password" %>
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>
        <%= link_to "create account", signup_path, method: "get" %>
        <p><a href="#">forgot password?</a></p>
      </div>
      <% end %>
>>>>>>> master


