<h1>Budgie</h1>

<%= render 'shared/login_message' %>

<% if signed_in? %>
<% @transactions = current_user.transactions %>
            <%= link_to "Sign Out", signout_path, method: "delete" %>
            
            <% if @transactions.nil? %>
            <h2>NO TRANSACTIONS</h2>
            <% else %> 
            <% @transactions.each do |t| %>
            <div class="well">
              <p>Amount: <%= t.amount %></p>
              <p>Per day: <%= t.per_day %></p>
              <p>Date: <%= t.date %></p>
              <p>Category: <%= t.category %></p>
              <% if !t.description.nil? %>
                <p>Description: <%= t.description %></p>
              <% end %>
            </div>
            <% end %>
            <% end %>


 <%= link_to raw('<button class="btn btn-danger btn-lg" role="button">Add Transaction</button>'), new_transaction_path, method: "get" %>
            <%= link_to raw('<button class="btn btn-inverse btn-lg" role="button">Change Account Details</button>'), myaccount_path, method: "get" %>
<% else %>
  <%= form_for(:session) do |f|%>
  	 <%= f.text_field :email, :placeholder => "email" %><br>
  	 <%= f.password_field :password, :placeholder => "password" %>
  	 <br>
  	 <%= link_to raw('<button class="btn btn-lg btn-primary" role="button">Sign in</button>'), root_path, method: "post" %>
<% end %>

<%= link_to "create account", signup_path, method: "get" %>
<p><a href="#">forgot password?</a></p>

<% end %>
