<h1>Budgie</h1>

<%= render 'shared/login_message' %>
            <% if signed_in? %>

            <%= link_to "Sign Out", signout_path, method: "delete" %>
<p><a href="#">Add transaction</a></p>
<p><a href="#">Change Account Details</a></p>

            <% else %>

           <%= form_for(:session) do |f|%>
           	 <%= f.label "email"%>
           	 <%= f.text_field :email %>
           	 <%= f.label "password" %>
           	 <%= f.password_field :password %>
           	 <br>
           	 <%= f.submit "sign in", class: "btn-inverse btn-large btn-primary" %>
            <% end %>

<%= link_to "Create Account", signup_path, method: "get" %>
<p><a href="#">forgot password?</a></p>
            <% end %>
