<!--HOME-->
<% if signed_in? %>
    
      


        <% @transactions = current_user.transactions %>
        <!--Transactions-->
        <% if @transactions.nil? %>
          <h2>NO TRANSACTIONS</h2>
        <% else %> 
          <div class="recent">
          <h2>Recent Transactions</h2>
          <% @transactions.each do |t| %>   
            <table class="zebra">  
              <thead> 
              <tr> 
              <th><%= t.date %></th> 
              <th>$<%= t.per_day %></th> 
              </tr> 
              </thead> 
              <tbody> 
              <tr> 
              <td><h2><%= t.category %></h2>
              <% if !t.description.nil? and !t.description.blank? %>
                <%= t.description %>
              <% end %></td> 
              <td><h1 id="minus">$<%= t.amount %></h1></td> 
              </tr> 
              </tbody>
                <div class="btn-group float-left" id="transaction">
                  <button type="button" class="btn btn-default btn-lg">
                    <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), t, method: :get, confirm: "Are you sure?" %>
                  <button type="button" class="btn btn-default btn-lg">
                    <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_transaction_path(t) %>
                  </button>
                </div>     
              </table> 
            <% end %>
          </div>   
        <% end %>

        <!-- END RHS -->


<!--LOGIN PAGE-->
<% else %>
  <div class="center-container" id="login">
    <div class="logo"><%= image_tag("logo.png", :alt => "budgie_logo") %></div>
      <%= form_for(:session) do |f|%>
      <%= f.text_field :email, :placeholder => "email" %>
      <%= f.password_field :password, :placeholder => "password" %>
      <%= link_to raw('<button class="btn btn-large btn-primary" role="button">Sign in</button>'), root_path, method: "post" %>
      <% end %>
      <%= link_to "create account", signup_path, method: "get" %>
    <p><a href="#">forgot password?</a></p>
  </div>
<% end %>


