<div class="center-container right" id="info">

	<% provide(:title, 'Account Info') %>

	<h1>Update Account Info</h1>

	<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages' %>

	<%= f.text_field :first_name, placeholder: "first name" %>

	<%= f.text_field :last_name, placeholder: "last name" %>

	<%= f.text_field :email, placeholder: "email address: eg@example.com" %>

	<%= f.password_field :password, placeholder: "enter new password" %>

	<%= f.password_field :password_confirmation, placeholder: "confirm new password"%>

	<%= f.submit "Update", class: "btn btn-large btn-primary" %>

	<% end %>

	<div id="buttons">
	    <%= link_to raw('<button class="btn btn-primary btn-danger" role="button">Delete Account</button>'), @user, method: :delete,  confirm: "Are you sure?" %>
	</div>

	<div id="buttons">
	    <%= link_to raw('<button class="btn btn-medium" role="button">Cancel</button>'), root_path, method: "get" %>
	</div>

</div>
