<% provide(:title, 'Account Info') %>
<h1>Budgie</h1>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>

<%= f.text_field :first_name, placeholder: "first name" %>

<%= f.text_field :last_name, placeholder: "last name" %>

<%= f.text_field :email, placeholder: "email address: example@example.com" %>

<%= f.password_field :password, placeholder: "password" %>

<%= f.password_field :password_confirmation, placeholder: "enter password again"%>

<%= f.submit "Update Account Info", class: "btn btn-large btn-primary" %>

<% end %>