<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>

<%= f.text_field :first_name, placeholder: "first name" %><br>

<%= f.text_field :last_name, placeholder: "last name" %><br>

<%= f.text_field :email, placeholder: "email address: example@example.com" %><br>

<%= f.password_field :password, placeholder: "password" %><br>

<%= f.password_field :password_confirmation, placeholder: "enter password again"%><br>

<%= f.submit "Create my account", class: "btn btn-large btn-primary" %><br>

<% end %>

<div id="buttons">
    <%= link_to raw('<button class="btn btn-large" role="button">Back</button>'), root_path, method: "get" %>
</div>