	<span class="select2-container form-control select select-primary">
		<select id="transaction_spread_number" name="transaction[day_spread]">
		<% i = 1 %>
		<% while i <= 10 %>
			<option value="<%= i %>" <% if !@transaction.nil? and @transaction.day_spread %> selected="selected" <% end %> >
			<%= i %>
			</option>
		<% i += 1 %>
		<% end %>
		</select>
	</span>


	<div class="select2-container form-control select select-primary" style="display: inline">
		<select id="transaction_spread_type" name="transaction[spread_type]">
		<% spread_types = get_spread_types() %>
		<% spread_types.each do |s| %>
			<option value="<%= s %>" <% if !@transaction.nil? and @transaction.spread_type %> selected="selected" <% end %> >
				<%= s %>
			</option>
		<% end %>
		</select>
	</div>

	<div class="select2-container form-control select select-primary">
		<select id="transaction_category" name="transaction[category]" >
			<option selected disabled="category">Select Category</option>
			<% categories = get_categories() %>
			<% categories.each do |c| %>
			<option value="<%= c %>" <% if !@transaction.nil? and @transaction.category == c %> selected="selected" <% end %> >
				<%= c %>
			</option>
			<% end %>
		</select>
	</div>

