<div class="center-container right" id="info">

	<h1>Edit Transaction</h1>

	<% provide(:title, 'Edit Transaction') %>

	<%= form_for(@transaction, :method => "patch") do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.text_field :amount, placeholder: "amount" %>

	<div>
		<input type="text" id="transaction" data-provide='datepicker' data-date-format="dd/mm/yyyy" value="<%= @transaction.date.strftime("%d/%m/%Y") %>"  data-todayBtn="linked" name="transaction[date]">
	</div>

	<%= f.text_field :day_spread, placeholder: "day spread", value: 1%>

	<%= render 'shared/category_select' %>

	<%= f.text_field :description, placeholder: "description" %>

	<%= f.submit "Edit", class: "btn btn-large btn-primary" %>

	<% end %>

	<div id="buttons">
    	<%= link_to raw('<button class="btn btn-medium" role="button">Cancel</button>'), root_path, method: "get" %>
	</div>

</div>