<% provide(:title, 'Add Transaction') %>

<h1>Transactions#new</h1>
<p>Find me in app/views/transactions/new.html.erb</p>

<%= form_for(@transaction) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.text_field :amount, placeholder: "amount" %>

<%= f.text_field :date, :class => 'datepicker', placeholder: "dd/mm/yyyy"%>

<br>
<%= f.text_field :day_spread, placeholder: "day spread" %>

<span class="select2-container form-control select select-primary">
<select id="transaction_spread_type" name="transaction[spread_type]">
<option value="1">Day</option>
<option value="2">Week</option>
<option value="3">Month</option>
<option value="4">Year</option>
</select>
</span>
<br>

<br>

<%= f.text_field :category, placeholder: "category thing" %>

<%= f.text_field :description, placeholder: "description" %>

<%= f.submit "Enter Transaction", class: "btn btn-large btn-primary" %>

<% end %>