<div class="center-container right" id="info">

	<% provide(:title, 'Add Transaction') %>

	<h1>New Transaction</h1>

	<%= form_for(@new_transaction) do |f| %>
	<%= render 'shared/error_messages' %>
	<%= f.text_field :amount, placeholder: "amount" %>

	<div>
		<input type="text" id="transaction" data-provide='datepicker' data-date-format="dd/mm/yyyy" value="<%= current_user.date.strftime("%d/%m/%Y") %>"  data-todayBtn="linked" name="transaction[date]">
	</div>

	<span class="select2-container form-control select select-primary">
		<select id="transaction_spread_number" name="transaction[spread_number]">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">8</option>
			<option value="10">10</option>
		</select>
	</span>

	<%= render 'shared/category_select' %>

	<%= f.text_field :description, placeholder: "description" %>

	<%= f.submit "Enter Transaction", class: "btn btn-large btn-primary" %>

	<% end %>

	<div id="buttons">
		<%= link_to raw('<button class="btn btn-medium" role="button">Cancel</button>'), root_path, method: "get" %>
	</div>

</div>
