<!DOCTYPE html>
<html>

<head>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <title>Budgie</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
</head>

<body>
	<% if signed_in? %>
 
  <div id="login_status">
    <%= render 'shared/login_message' %>
  </div>
  
<!--Header-->
<div id="header" class="navbar navbar-default">

    <!--Login Greeting-->
  <div class="container">
    <div class="float-left">
      <a href="/"><%= image_tag("logo_small.png", :alt => "budgie_logo") %></a>
    </div>
    <div class="float-right"><%= link_to raw('<button class="btn btn-primary btn-large" role="button">Sign Out</button>'), signout_path, method: "delete" %></div>

    </div>
  </div>

  <!-- Begin page content -->
  <div class="center-container">
    <div class="center-row">
      

        <!--LEFT SIDE-->

        <% @total = get_total %>

        <% if @total < 0 %>
          <div class="col-xs-6 left" style="background: url('<%= asset_path 'sunset1.jpg' %>');">
        <% elsif @total >= 0 and @total < 500 %>
          <div class="col-xs-6 left" style="background: url('<%= asset_path 'sunset2.jpg' %>');">
        <% elsif @total >= 500  and @total < 1000 %>
          <div class="col-xs-6 left" style="background: url('<%= asset_path 'sunset3.jpg' %>');">
        <% elsif @total >= 1000 %>
          <div class="col-xs-6 left" style="background: url('<%= asset_path 'sunset4.jpg' %>');">
        <% else %>
          <div class="col-xs-6 left" style="background: url('<%= asset_path 'sunset1.jpg' %>');">
        <% end %>

       <!--  <p>You have spent</p>
        <h1>59%</h1>
        <p>of your previous month's expenditure.</p> -->
        <p>You have saved</p>
        <h1><%= sprintf("%.2f", @total) %></h1>
        <% if current_user.date_type == "Day" %>
        <p>today</p>
        <% elsif current_user.date_type == "Week" %>
        <p>this week</p>
        <% elsif current_user.date_type == "Month" %>
        <p>this month</p>
        <% elsif current_user.date_type == "Year" %>
        <p>this year</p>
        <% elsif current_user.date_type == "All" %>
        <p>overall</p>
        <% else %>
        <p>today</p>
        <% end %>

      </div>

      <!--RIGHT SIDE-->
      <div class="col-xs-6 right">

        <div class="btn-group-vertical float-left" id="icons">

          <div>
            <%= link_to raw('<button type="button" class="btn btn-large btn-lg"><span class="glyphicon glyphicon-plus"></span></button>'), new_transaction_path, method: "get" %>
          </div>
          
          <div>
            <%= link_to raw('<button type="button" class="btn btn-large btn-lg"><span class="glyphicon glyphicon-cog"></span></button>'), myaccount_path, method: "get" %>
          </div>

        </div>

        <%= yield %>

      </div>
    </div>
  </div>
  <% else %>

  <%= yield %>

  <% end %>
  <div id="footer">
   <div class="container" id="debug">
    <%= params.inspect %>
  </div>
</div>
</body>
</html>
