<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	<title>Budgie</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<!-- javascript_include_tag "application", "data-turbolinks-track" => true -->
	<%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>

<div id="login_status">
      <%= render 'shared/login_message' %>
    </div>

  <!--Header-->
  <div id="header" class="navbar navbar-default">
  
    <!--Login Greeting-->
    <div class="container">
      <div class="float-left">
      <a href="/">
      <%= image_tag("logo_small.png", :alt => "budgie_logo") %>
      </a>
      </div>
      <div class="float-right"><%= link_to raw('<button class="btn btn-primary btn-large" role="button">Sign Out</button>'), signout_path, method: "delete" %></div>
    </div>
  </div>

  <!-- Begin page content -->
  <div class="center-container">
    <div class="center-row">
      <div class="col-xs-6 left">

        <!--LEFT SIDE-->
        <p>You have spent</p>
        <h1>59%</h1>
        <p>of your previous month's expenditure.</p>
        <p>You have saved</p>
        <% @total = get_total %>
        <h1><%= sprintf("%.2f", @total) %></h1>
        <p>today</p>
      </div>

        <!--RIGHT SIDE-->
      <div class="col-xs-6 right">
        <div class="btn-group-vertical float-left" id="icons">
            
            <div>
            <%= link_to raw('<button type="button" class="btn btn-large btn-lg"><span class="glyphicon glyphicon-plus"></span></button>'), new_transaction_path, method: "get" %>
            </div>
          
            <div>
            <%= link_to raw('<button type="button" class="btn btn-large btn-lg"><span class="glyphicon glyphicon-cog"></span></button>'), myaccount_path, method: "get" %>

            </div>
        
        </div>

	<%= yield %>
	
      </div>
    </div>
  </div>
	<% else %>

	<%= yield %>

	<% end %>
	<div id="footer">
	  <div class="container" id="debug">
	  	<%= params.inspect %>
	  </div>
	</div>
</body>
</html>
